<head>
  <title>Lancr - Job board and freelancer directory</title>
  <meta name="description" content="Lancr is a job board and startup community space for service providers.  This site provides a complete listing of positions requiring many different skill sets, as well as to profiles for service providers for hire.">
	<meta name="keywords" content="Meteor,Jobs,Developers,Contracts,Freelance,Remote,Telecommute,Consultants,Rails,Team,Angular,Writing">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="icon" type="image/png" href="/images/favicon.png">
</head>
